<% include ../partials/header %>

<div class="container">
<form id="plants" action="/plants/<%=plant[0].id%>?_method=PUT" method="post">
  <div class="form-group">
    <input class="form-control pflanzeName" type="text" name="pflanzenName" value="<%=plant[0].pflanzeName%>">
    <div class="form-inline">
      <label for="sollLuftFeMin">MIN :</label>
      <input class="form-control" type="number" id="sollLuftFeMin" name="sollLuftFeMin" value="<%=plant[0].sollLuftFeMin%>">
      <label for="sollLuftFeMax">MAX :</label>
      <input class="form-control" type="number" id="sollLuftFeMax" name="sollLuftFeMax" value="<%=plant[0].sollLuftFeMax%>">
    </div>
    <div class="form-inline">
      <label for="sollBodenMin">MIN :</label>
      <input class="form-control" type="number" id="sollBodenMin" name="sollBodenMin" value="<%=plant[0].sollBodenMin%>">
      <label for="sollBodenMax">MAX :</label>
      <input class="form-control" type="number" id="sollBodenMax" name="sollBodenMax" value="<%=plant[0].sollBodenMax%>">
    </div>
    <div class="form-inline">
      <label for="lichtstunden">Lichtstunden :</label>
      <input class="form-control" type="number" id="lichtstunden" name="lichtstunden" value="<%=plant[0].lichtstunden%>">
      </div>
    <div class="form-inline">
      <label for="sollTempMin">MIN :</label>
      <input class="form-control" type="number" id="sollTempMin" name="sollTempMin" value="<%=plant[0].sollTempMin%>">
      <label for="sollTempMax">MAX :</label>
      <input class="form-control" type="number" id="sollTempMax" name="sollTempMax" value="<%=plant[0].sollTempMax%>">
    </div>
    <button type="submit" class="btn btn-primary send"name="button">Send</button>
  </div>
</form>
<% include ../partials/footer %>
