<% include ../partials/header %>

<div class="container">
  <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="well">
            <p>
              <span>Name: <b> <%=plant[0].pflanzeName%></b></span>
            </p>
            <p>
              <span>sollLuftFeMIN: <%=plant[0].sollLuftFeMIN%> </span>
            </p>
            <p>
              <span>sollLuftFeMAX: <%=plant[0].sollLuftFeMAX%> </span>
            </p>
            <p>
              <span>sollBodenMIN: <%=plant[0].sollBodenMIN%> </span>
            </p>
            <p>
              <span>sollBodenMAX: <%=plant[0].sollBodenMAX%> </span>
            </p>
            <p>
              <span>sollLichtMIN: <%=plant[0].sollLichtMIN%> </span>
            </p>
            <p>
              <span>sollLichtMAX: <%=plant[0].sollLichtMAX%> </span>
            </p>
            <p>
              <span>sollTempMIN: <%=plant[0].sollTempMIN%> </span>
            </p>
            <p>
              <span>sollTempMAX: <%=plant[0].sollTempMAX%> </span>
            </p>
            <a class="btn btn-info btn-sm"href="/plants/<%=plant[0].id%>/edit">Edit</a>
            <form style="display:inline"action="/plants/<%=plant[0].id%>?_method=DELETE" method="post">
              <button class="btn btn-danger btn-sm"type="submit" name="button">Delete</button>
            </form>
          </div>
        </div>
        <!-- <a href="/plants/new">New</a> -->
  </div>
</div>

<% include ../partials/footer %>
